<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dotSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <dotSwitcher.Properties.Settings>
            <setting name="convertLastShortcut" serializeAs="String">
                <value>{"KeyData":{"vkCode":19,"scanCode":0,"flags":0,"time":0,"dwExtraInfo":{"value":0}},"CtrlIsPressed":false,"AltIsPressed":false,"ShiftIsPressed":false,"WinIsPressed":false}</value>
            </setting>
            <setting name="convertSelectionShortcut" serializeAs="String">
                <value>{"KeyData":{"vkCode":19,"scanCode":0,"flags":0,"time":0,"dwExtraInfo":{"value":0}},"CtrlIsPressed":false,"AltIsPressed":false,"ShiftIsPressed":true,"WinIsPressed":false}</value>
            </setting>
        </dotSwitcher.Properties.Settings>
    </userSettings>
</configuration>