<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section
        name="hotkeys"
        type="dotSwitcher.HotkeysConfig, dotSwitcher"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>
    <hotkeys>
      <switchLayout keyData="19" winMod="false"/>
    </hotkeys>
</configuration>